---
import HeaderLink from "./HeaderLink.astro";
import Header from "../layouts/Header.astro";
---

<Header>
  <li>
    <HeaderLink href="/">Home</HeaderLink>
  </li>

  <li>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </li>

  <li>
    <HeaderLink href="/about">About</HeaderLink>
  </li>
</Header>
