---
import { Content as Portfolio } from "../../README.md";
---

<section class="portfolio__table">
  <div class="table__container">
    <Portfolio />
  </div>
</section>

<style>
  .portfolio__table {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    align-items: center;
    flex-direction: column;
  }

  .table__container {
    width: 90%;
    align-self: center;
    flex-direction: column;
    max-width: 886px;
    display: flex;
    justify-content: center;
  }
</style>
