---
import { Content as Portfolio } from "../../README.md";
---

<section class="portfolio__table">
  <div class="table__container">
    <Portfolio />
  </div>
</section>

<style>
  .portfolio__table {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
  }
  .table__container {
    width: 100%;
    align-self: center;
    max-width: 1200px;
  }
</style>
